[Unit]
Description=reespirator UI
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
WorkingDirectory=/root/repos/reespirator-beagle-touch/scripts/
ExecStart=/root/repos/reespirator-beagle-touch/scripts/startUI.sh
OOMScoreAdjust=-200
Restart=always
RestartSec=500ms
StartLimitIntervalSec=0
StartLimitBurst=10
StartLimitAction=none
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
